@import config
@import parts/header
@import parts/slider
@import parts/catalog
@import parts/seo
@import parts/advantage
@import parts/popular
@import parts/wide_banner
@import parts/article
@import parts/footer
@import parts/catalog_main
@import parts/catalog_breadcrumbs
@import parts/catalog_description
@import parts/catalog_sort
@import parts/catalog_pagination
@import parts/catalog_seo


  
// CUSTOM SASS
.container
  padding-left: 15px
  padding-right: 15px
  margin: auto
  max-width: 1170px
  margin: 0 auto

.container-wide
  max-width: 1600px
  padding-left: 20px
  padding-right: 20px
  margin-right: auto
  margin-left: auto

.title
    position: relative
    font-size: 24px
    font-weight: 700
    margin-bottom: 25px
    margin-top: 16px
    line-height: 33px
    &:before, &:after
        position: absolute
        bottom: -.5rem
        left: 0
        content: ''
        display: block
        height: 1px
        width: 30%
        background-color: $accent
        z-index: 1
    &:after
        width: 50%
        background-color: #e6e6e6
        z-index: auto

    

      

@include media-breakpoint-down(lg)
  .container
    max-width: 960px

@include media-breakpoint-down(md)
  .container
    max-width: 720px

@include media-breakpoint-down(sm) 
  .container
    max-width: 540px

@include media-breakpoint-down(xs) 
  .container
    max-width: 100%




@include media-breakpoint-down(lg)
  .container-wide
    max-width: 960px

@include media-breakpoint-down(md)
  .container-wide
    max-width: 720px

@include media-breakpoint-down(sm) 
  .container-wide
    max-width: 540px

@include media-breakpoint-down(xs) 
  .container-wide
    max-width: 100%    
